@model IEnumerable<DTOs.DTO.Proyectos>

<section id="Proyectos">

    <div class="col-12 ">


        <div class="row">

            <h2 class="text-center my-5 text-primary">Proyectos Recientes</h2>

            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-3">

                    <div class="card text-center shadow p-3 ">

                        <img src="~/Imagenes/proyectos/@item.Imagen" alt="...  " height="250" class="rounded-2 ">
                        <div class="card-body">

                            <h5 class="card-title text-dark">@item.Titulo</h5>

                            <p class="card-text">@item.Descripcion</p>

                            <a href="@item.Url" class="btn btn-primary">Ver Demo</a>
                        </div>
                    </div>

                </div>
            }


        </div>


    </div>

</section>